<h1>Últimas noticias</h1>
<div class="article-wrapper">
<% Article.all.each do |article| %> 
<div class="article-item">
      <h2 class="article-headline">
        <a href="<%= article.url %>" target="_blank">
        <div class="article-item-border"></div>
          <%= article.headline %>
        </a> 
      </h2>

    <div class="article-source">
      Fuente:
      <% source = article.newspaper_id %>
      
      <a href='<%= Newspaper.find(source).newspaperUrl %>'>
        <%= Newspaper.find(source).newspaperName %> 
      </a>
      
    </div>
  </div>
<% end %>
</div>